Enabled = 	true
DebugMode =	false

ServerCommandPassword = SERVER_PASSWORD_HERE


#health system configuration
	InfectionDamage = 0.01
	CanSelfBloodbag = true


#starting loadout definitions
	Vest =
	Backpack =
	Items =
	Magazines = DSR_item_Bandage
	PrimaryWpn =
	PrimaryWpnAttachments =
	HandgunWpn = DSR_Flashlight
	HandgunWpnAttachments =
	RemoveItems = ItemMap,ItemWatch

#Vehicle spawn configuration
	NumVehicles = 200 # Number of vehicles to spawn on the server
	MaxBikes = 120 # Number of bicycles to spawn on the server


#Loot configuration - You should not *HAVE* to edit these values. However, if you wish to, everything will be described on the wiki @ (TODO WIKI HERE)

	# Turn loot spawning on/off
	SpawnLoot = true

	# Configure loot respawning (respawns fresh loot after the given time)
	RespawnLoot = false
	RespawnTime = 60 # in minutes

	# Configure Weapon mag spawning
	ChanceToSpawnWithMag = 15 # % (100 being EVERY TIME, 0 being NEVER)

	# Every building that spawns loot (determined byt the lootChance) will have at LEAST this # of piles
	MinPiles = 1

	# LOOT LIMITS PER PILE (limit can NOT go over 3)
	MaxWeapons = 1
	MaxHandguns = 1
	MaxUniforms = 1
	MaxVests = 1
	MaxBackpacks = 1
	MaxBooks = 1
	MaxHelmets = 1
	MaxCarParts = 1

    # Military Loot ( military buildings )
    Military_lootChance = 70 # This is the % chance of a military building spawning loot (0-100 100 being every military building will spawn loot every time)
    Military_spawnChance = 45 # pile loot chance
    Military_typeChance = [4,8,15,25,48] # item rarity (rare,semirare,average,semicommon,common)
    Military_gearChance = [10,6,5,3,3,9,12,8,8,8,9,15,0,0,0,0,0,4] # item type (Weapon,Handgun,Magazine,Food,Drink,Medical,Junk,Backpack,Uniform,Vest,Helmet,Cosmetic,GeneralItem,Construction,Book,Electronic,CarPart,Attachment)

    # Civilian Loot ( houses )
    Civilian_lootChance = 75
    Civilian_spawnChance = 45
    Civilian_typeChance = [1,4,10,30,55]
    Civilian_gearChance = [4,5,2,5,7,8,20,8,15,6,8,10,0,0,0,0,0,2]

    # Industrial Loot ( factories )
    Industrial_lootChance = 70
    Industrial_spawnChance = 60
    Industrial_typeChance = [5,10,15,30,40]
    Industrial_gearChance = [0,0,0,0,3,2,20,0,5,0,5,0,0,50,0,0,15,0]

    # Commercial Loot ( street shops )
    Commercial_lootChance = 70
    Commercial_spawnChance = 55
    Commercial_typeChance = [1,5,12,30,52]
    Commercial_gearChance = [1,2,1,8,8,10,22,8,12,6,8,14,0,0,0,0,0,0]

    # Medical Loot ( hospital type buldings )
    Medical_lootChance = 70
    Medical_spawnChance = 40
    Medical_typeChance = [5,10,15,30,40]
    Medical_gearChance = [0,0,0,0,0,100,0,0,0,0,0,0,0,0,0,0,0,0]

    # Mechanical Loot ( car shop / repair shop type buildings )
    Mechanical_lootChance = 60
    Mechanical_spawnChance = 35
    Mechanical_typeChance = [5,10,15,30,40]
    Mechanical_gearChance = [0,0,0,0,0,0,10,5,7,0,0,0,0,20,0,0,58,0]